<%- include('partials/header',{currentTitle: 'News'}) %>

    <br><br><br><br><br>

    <style>
        .sk-posts-body {
            padding: 0 5rem;
        }

        @media (max-width: 480px) {
            .sk-posts-body {
                padding: 0 1rem !important;
            }
        }
    </style>

    <div class='sk-ww-linkedin-page-post' data-embed-id='25574626'></div>
    <script src='https://widgets.sociablekit.com/linkedin-page-posts/widget.js' defer></script>

    <%- include('partials/footer') %>