<%- include('../../partials/header') %>
    <br><br><br><br><br>
    <link rel="stylesheet" href="/css/admin.css">

    <div class="admin-container">
        <div class="login-form">
            <h2>Admin Login</h2>
            <% if (error) { %>
                <div class="error">
                    <%= error %>
                </div>
                <% } %>
                    <form method="POST" action="/pov/admin/login">
                        <div class="form-group">
                            <label for="password">Password:</label>
                            <input type="password" id="password" name="password" required>
                        </div>
                        <button type="submit" class="btn-primary">Login</button>
                    </form>
        </div>
    </div>


    <%- include('../../partials/footer') %>